@import "tailwindcss";
@plugin "@tailwindcss/typography";
@config "../tailwind.config.js"; 



body {
  @apply bg-white text-gray-700 container px-4 md:mx-auto dark:bg-gray-900 dark:text-gray-300 max-w-2xl
}

hr {
  @apply my-8 border-gray-200 dark:border-gray-800
}